@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body{
  font-family: 'Source Sans Pro', sans-serif;
  background:#1c1f24;
}

.menu{
  margin-top: 70px;
  font-size: 25px;
  padding: inherit;
  text-align: right;
}

.body-content {
  margin-top: 40px;
}

.body-content p {
  color: white; 
  font-weight: 600; 
  font-size: x-large;
}

.body-content p.card-text {
  color: white; 
  font-weight: 500; 
  font-size: medium;
}

div.card a {
  background-color: #55ACEE;
  border-radius: 16px;
  text-decoration: none;
}

.body-content p a {
  display: inline-block;
  font-weight: 700;
  vertical-align: baseline;
  padding: 0 8px;
  margin: 0;
  border-radius: 12px;
  text-decoration: none;
  line-height: 1.4;
}

.body-content p span {
  font-weight: 700;
}

.body-content p span.software {
  color: #5563e2;
  background: rgba(205, 180, 235, 0.123);
}

.body-content p span.artist {
  color: #c162e7;
  background: rgba(205, 180, 235, 0.123);
}

.menuyazi{
  font-weight: 700;
  font-size: 25px;
}


.fa {
  padding: 20px;
  font-size: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 30%;
}

a.fa {
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #DD2A7B;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: white;
  color: black;
}

.fa-envelope {
  background: #FFC928;
  color: white;
}

.sosyal{
  margin-bottom: 50px;
}

.mobile-margin {margin-top: 0px;}

.body-all {
  padding-left: 0px;
  padding-right: 0px;
}

.burakMenu {
  margin: auto;
  display: block;
  font-size: 0;
  padding-top: 40px;
}

.burakMenu .header, .burakMenu ul {
  display: inline-block;
  font-size: 25px;
  text-align: left;
}

.burakMenu .header {padding-top: 10px;}

.burakMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.burakMenu ul li {
  display: inline-block;
  padding: 10px;
}

.burakMenu ul li a {
  padding: 10px !important;
}

@media only screen and (max-width: 720px) {
  .body-all {padding-left: 20px; padding-right: 20px;}
  .burakMenu {padding-top: 10px;}
  .burakMenu ul {padding-top: 10px;}
  .burakMenu ul li {display: block; padding: 0; text-align: right;}
}
